.container{
  width: 100%;
  max-width: 1360px !important;
  height: auto !important;
}

.row{
  margin-bottom: 0px;
}

.parallax-container {
  height: 400px;
  width: 100%;
}

.navbar-custom {
  width: 100%;
  padding: 2em;
  padding-left: 6em;
  padding-right: 6em;
  position: absolute !important;
  z-index:999999999;
  font-family: 'Montserrat';
  font-weight: 500;
}

.logo{
  width: 150px;
  height: 65px;
  margin-top: 0.5em;
}

.banner{
  position: absolute;
  z-index: 2;
  background-color: rgba(15, 48, 87, 0.6) !important;
  height: 400px;
  width: 100%;
}

.banner-text{
  position: absolute;
  z-index: 5;
  left: 7%;
  top: 50%;
  font-size: 32px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
}

.banner-subtext{
  width: 60%;
  position: absolute;
  z-index: 5;
  left: 7%;
  top: 65%;
  font-size: 14px;
  color: white;
  font-family: 'Raleway';
  font-weight: 300;
  letter-spacing: 0.5px;
}

.services-main{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f4f4f4;
  padding: 3em;
  padding-left: 6em;
  padding-right: 6em;
}

.card-content{
  font-family: 'Raleway';
  font-weight: 300;
}

.card-image{
  padding: 2em;
}

.card-action{
  color: #0F3057 !important;
  border-top: 1px solid rgba(100, 100, 100, 0.2) !important;
  font-family: 'Montserrat';
  font-weight: 500;
  padding: 0px !important;
}

.card-action:hover{
  color: #ffffff !important;
  background-color: #0F3057 !important;
}

.logo-circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #0F3057;
  padding: 1.65em;
}

.logo-content{
  height: 50px;
  width: 50px;
}

.page-footer{
  background-color: #0F3057 !important;
}

.footer-content{
  padding-left: 6em;
  padding-right: 6em;
  height: 200px;
}

.footer-copyright{
  padding-left: 6em !important;
  padding-right: 6em !important;
  background-color: #002051 !important;
}

.footer-text{
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat';
  font-weight: 500;
}

.footer-subtext{
  font-size: 11px;
  font-family: 'Raleway';
  font-weight: 300;
}

.contact-footer{
  margin-left: 2em;
  margin-bottom: 0.5em;
  font-size: 12px;
}

.logo-footer{
  height: 15px;
  width: 15px;
  margin-right: 2em;
}
